:root {
  --color-primary: #adb7fd;
  --color-white: #fdfcfc;
  --color-black: #000000;
  --color-error-text: #8f2de8;

  --color-button-default: #8c0651;
  --color-button-disabled: #8d9df3;
  --color-button-default-border: #790646;
  --color-button-hover-background: #8c0651;

  --color-form-border: #480385;
  --color-form-background: #ecdbfc;
  --color-form-input: #8d8d8d;

  --color-table-header: #8a89f0;
  --color-table-row-default: #a0a8ae;
  --color-table-row-hover: #790646;
  --color-table-green-text: #449402;
  --color-table-red-text: #f50404;
}
